body {
    margin: 0%;
    padding: 0%;
}

/* Small mobile screens */
.img {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    padding: 0%;
    margin-bottom:0.625em;
    
}

img {
    object-fit: cover;
    height: 36.25em;
    width: 20.625em;
    position: relative;
    box-shadow: 5px 5px 10px 1px rgba(149, 157, 165, 0.3);
}

.container   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.name {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -0%);
    align-self: flex-end;
    justify-self: center;
    font-family: 'Playfair Display', serif;
    font-size: 4.4rem;
    line-height: 1.1;
    color: white;
    text-shadow: 0px 0px 20px black;
}

.content {
    text-align: left;
    margin-top: 0.07em;
    padding-left:  0.73em;
    padding-right: 0.367em ;
    font-size: 1.8rem;
    color: rgb(84,84,84);
    line-height: 1.4;
    letter-spacing: 1.5;
    margin-bottom: 10px;
}

.header-1,
.header-2,
.header-3 {
    text-align: center;
    margin-top: 0.525em;
    font-size: 3.5rem;
    letter-spacing: 1.1;
    font-family: 'Playfair Display', serif;
    margin-bottom: 8px;
    
}

.about-icons {
   text-align: center;
}

i {
    font-size:  2.5em;
    margin-right:  0.5em;
}

.grid-container {
 display: grid;
 justify-content: center;
 align-content: center;
 row-gap: 5em ;
}

.header-2 {
    margin-top: 0.9em;
    margin-bottom: 0.2em;
}

.grid-item {
  display: grid;
  justify-content: center; 
  box-shadow:  0px 15px 24px rgba(149, 157, 165, 0.5);

}

.upper-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.1em;
    font-size: 3.75rem;
    color: white;   
}

.lower-div {
    padding-bottom: 0%;
    height: 15em;
    padding-left: 0.9em;
    padding-right: 0.9em;
   
}

.short-description {
    margin-top: 0%;
   
}

.small-content {
    display:flex;
    justify-content: space-between;

}

.small-content > p{
    color: black;
    padding-top: 0.735em;
    margin-top: 0%;
    margin-left:  0.88em;
    font-size: 2.125em;
    margin-right: 0.29em;
    
}

.inner-icon > i {
    font-size: 1.5625em;
    padding-top: 1.4em;
    margin: 0% 0.2em;
    margin-bottom: 0%;
   
}

.lower-div > p {
    color: rgb(84,84,84);
    font-size: 1.5625em;
}

#div-color-1 {
    background-color: #7c74cc;
} 

#div-color-2 {
    background-color: #e08c3c;
} 

#div-color-3 {
    background-color: #608c4c;
} 

#div-color-4 {
    background-color: #ca7599;
} 

#div-color-5 {
    background-color: #4692d9;

} 

#div-color-6 {
    background-color: #608c4c;
} 

footer {
    
    text-align: center;
    margin-top: 5.625em;
    background-color: #0891b2;
/* rgba(8,145,178,255) */
}

.header-3,
.last-para p {
   color: white;
  
}

.last-para {
    text-align: left;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.para-1 {
    font-size: 1.875em;
    margin-top: 0%;
}

.same-font {
    font-size: 1.25rem;

}

.footer-icon {
    margin-bottom: 6.25em;
}

.footer-icon>i {
    font-size: 3.4375rem;
    margin-left: 0.18em;
    margin-bottom: 0.72em;
}

.img-2 {
    background-image: url(images/pexels-andrea-piacquadio-826349.jpg);
    background-position: center;
    background-size: cover;
    height: 36.25em;
    width: 100vw;
    
}

.smart,
.name>p {
    margin: 0%;
}

/* Tablet styles */
@media (min-width: 500px) {

    body {
        margin: 0%;
        padding: 0%;
    }

    .content {
        text-align: left;
    }

    .header-1 {
        padding-top: 90px;
        margin-bottom: 20px;
    }

    .about-icons {
    display: none;
    }

    .tab-first-section {
       margin-top: 80px;
       padding-top: 0px;
       padding-bottom: 90px;
    }   

    .grid-container {
         grid-template-columns: 1fr 1fr;
         gap: 90px 60px;
         padding-left:95px;
         padding-right:95px;
    }

    .grid-item{
        display: flex;
        flex-direction: column;
        box-shadow:  0px 8px 20px rgba(149, 157, 165, 0.5);
    }

    .header-2,
    .header-3,
    .short-description,
    .small-content > p,
    .last-para,
    .footer-icon {
        text-align: left;
    }

    .small-content > p {
        margin-left: 0%;
    }

    .lower-div{
        padding-left: 30px;
        padding-right: 30px;
    }

    footer {
        margin-top: 7.3em;
        display: flex;
        padding: 9% 5% 3% 9%;
        gap: 60px;
    }

    .img-2 {
        width: 100%;
        height: 40em;
    }

    #img {
       
        height: 430px;
        width: 390px;
        margin-right: -30px;
    }

    .img {
        position: relative;
        float: left;
        right: 50px;
        bottom: 0px;
        top: -60px;
    }

    .last-para {
        padding: 0%;
    }

    .last-para >p {
        font-size: 35px;
    }

    .about {
        background-color: greenyellow;
        width: 700px;   
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .just {
        justify-self: center;
        margin-top: 100px;
    }

    .name {
        display: flex;
        color: black;
        position: absolute;
        top: 20px;
        right: 200px;
        text-shadow: none;
       
    }

    .smart,
    .name>p {
        margin-top: -10px;
        margin-bottom: 0%;
        margin-right: 0%;
        margin-left: 140px;
    }

    .name>p:nth-child(even) {
        margin-left: 15px;       
    }

    #header-2 {
        display: flex;
        justify-content: left;
        margin-left: 90px;
        font-size: 7px;
    }

    .container {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

/* Desktop style */
@media (min-width:1000px) {
    body,
    .grid-container,
    .tab-first-section,
    .img,
    .content{
        padding: 0%;
        margin: 0%;
    }

    #img {
        box-shadow: none;
        
    }

    .img {
        position: relative;
        right: 0px;
        bottom: 0px;
        top: 0px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        justify-content: center;
        padding: 0px 60px;
    }    
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 50px;
        margin-left: 0% ;
        margin-right: 0%;
    }

    .container {
        display: flex;
        justify-content: center;
        margin: 0%;
        padding: 0%;
    }

    .img-2 {
        height: 600px;
        width: 800px;
        margin: 0%;
    }

    .about-icons {
      display: flex;
      justify-content: end;
      margin-top: 60px;
      margin-bottom: 30px;
    }

    .about-icons>i{
        font-size: 30px;
    }

    .footer-icon i{
        font-size: 30px;
    }

    .small-content> p {
        font-size: 30px;
    }

    #header-2 {
        align-self: start;
        margin-left: 140px;
    }

    .tab-first-section {
        padding-left: 55px;
    }

    .just {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    #img {
        height: 550px;
        width: 500px;
    }

    .header-1 {
       text-align: left;font-size: 40px;
        margin-bottom: 20px;
        margin-top: 30px;
        padding-top: 0px;
    }

    .about {
        padding-right: 30px;
        background-color: white;
        border: 2px solid greenyellow;
    }

    .content {
        font-size: 28px;
    }

    .name {
        margin: 465px 370px auto auto;
        color: white;
        text-shadow: 0px 0px 20px black;
        /* top: 0px;
        left: 0%; */
        font-size: 58px;
    }
}